* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    position: relative;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    overflow: hidden;
}

button, a.btn {
    font-size: 17px;
    padding: 16px 32px;
    border: none;
    font-weight: 660;
    cursor: pointer;
    color: #F3E5F5;
    text-decoration: none;
    background-color:#4f057c;
    transition: all 0.4s;
    margin: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

button:hover, a.btn:hover {
    background-color:#6A1B9A;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

h1 { 
    color: #c3c3c3;
    font-size: 28px;
}

a.default-link {
    font-size: 18px;
    color: #dcc3ec;
    font-weight: 500;
    text-decoration: none;
}

a.default-link:hover {
    text-decoration: underline;
    color:#c1b8c6;
}

footer {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 550;
    position: absolute;
    color: #cecdcf;
    bottom: 10px;
    border-top: 1px solid #353535;
}

ul li::marker {
    color: white;
}

.page {
    animation: pageEnter 0.5s ease;
}

@keyframes pageEnter {
    from {
        opacity: 0;
        filter: blur(0);
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        filter: blur(5px);
        transform: translateY(0);
    }
}